$mainColor: whitesmoke
$blueLight: rgb(74, 118, 250)
$blueDark: rgb(14, 27, 65)
$pinkLight: rgb(234, 80, 224)
$pinkDark: rgb(91, 29, 87)
$greenLight: rgb(131, 225, 153)
$greenDark: rgb(56, 95, 64)
$specialColor: rgb(253, 114, 45)
$attentionColor: red
$greyLine: rgb(224, 224, 224)
$shadowBox1: rgba(0, 0, 0, 0.188)
$shadowBox2: rgba(0, 0, 0, 0.231)
$blackColor: rgba(0, 0, 0, 0.87)
